@if(isaddtask){
<app-new-task
  (close)="onCloseTask()"
  [taskToEdit]="editTask"
  (addTask)="OnAddTask($event)"
  (updateTask)="OnUpdateTask($event)"
></app-new-task>
}
<section id="tasks">
  <header>
    <h2>{{ name }}'s tasks</h2>
    <menu>
      <button (click)="addtaskopen()">Add Tasks</button>
    </menu>
  </header>
  <ul>
    @for(task of userselectedtask; track task.id){

    <li>
      <app-taskw
        [task]="task"
        (editTask)="OnEditTask($event)"
        (completeTask)="onDeleteTask($event)"
      ></app-taskw>
    </li>
    }
  </ul>
</section>
