<form (ngSubmit)="OnSubmit()">
  <div class="input-group">
    <p>
      <label for="initial-investment">Initial Investment</label>
      <input
        name="initial-investment"
        type="number"
        [(ngModel)]="enterinitialInvestment"
      />
    </p>
    <p>
      <label for="annual-investment">Annual Investment</label>
      <input
        name="annual-investment"
        id="annual-investment"
        type="number"
        [(ngModel)]="enterannualInvestment"
      />
    </p>
  </div>
  <div class="input-group">
    <p>
      <label for="expected-return">Expected Return</label>
      <input
        name="expected-return"
        id="expected-return"
        type="number"
        [(ngModel)]="enterexpectedReturn"
      />
    </p>
    <p>
      <label for="duration">Duration</label>
      <input
        name="duration"
        id="duration"
        type="number"
        [(ngModel)]="enterduration"
      />
    </p>
  </div>
  <p>
    <button>Calculate</button>
  </p>
</form>
