<!-- <app-header></app-header>
<app-user-input (calculate)="OncalculateInvestmentResults($event)"></app-user-input>
<app-investment-results [results]="resultdata"></app-investment-results> -->
<!-- using signals  -->
<!-- <app-header></app-header>
<app-user-input (calculate)="OncalculateInvestmentResults($event)"></app-user-input>
<app-investment-results [results]="resultdata()"></app-investment-results> -->
<!-- using services
  -->
 <app-header></app-header>
<app-user-input ></app-user-input>
<app-investment-results ></app-investment-results>
